.toogle__wrap{
    width: 35px;
    height: 25px;
    padding: 0 5px;
    background-color: #d1d1d1;
    display: inline-block;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    border: 1.2px solid #0000004a;
    display: grid;
    align-items: center;
}

.toogle__ball{
    width: 17px;
    height: 17px;
    background: white;
    display: inline-block;
    transition: 0.2s;
    border-radius: 10px;
}
.toogle__on.toogle__wrap{
    background-color: #4d8ec1;
}

.toogle__on .toogle__ball{
    transform: translateX(6px);
}