// font-family: 'Jua', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Poppins', sans-serif;

//sass --watch src\scss:src\css

%line {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.table {
    &__wrap {
        display: inline-grid;
        // border: 1px solid black;
        width: 780px;
        font-family: "Poppins", sans-serif;
        padding: 5px;
        margin-bottom: 100px;
        height:45px * 20 + 35px; //헤더 + 팀20라인
    }

    &__header {
        @extend %line;
        padding: 5px 9px;
        background-color: #f7f7f7;
        height: 35px;

        span {
            font: {
                size: 0.8em;
                weight: 600;
            }
        }
    }

    &__list {
        @extend %line;
        height: 45px;

        @each $num in 2, 5, 6, 18 {
            &:nth-child(#{$num}) {
                border-bottom: 1px solid black;
            }
        }
    }
}
